.navbar-box {
  margin-bottom: 60px;
  ul {
    display: flex;
    gap: 2px;
    list-style: none;
    margin: 0 20px;
    padding: 7px;
    background: #161932;
    border-radius: 30px;

    li {
      button {
        padding: 12px 22px;
        border-radius: 22px;
        color: #d7e0ff;
        opacity: 40%;
        font-family: var(--primary-font);
        font-weight: 500;
        background: transparent;
        border: none;

        &.active {
          background: var(--primary-color);
          color: #1f213f;
          opacity: 100%;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .navbar-box {
    ul {
      margin: 0;

      li {
        button {
          padding: 12px;
        }
      }
    }
  }
}
