@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  color: var(--primary-color);
  font-family: var(--primary-font);
}

:root {
  --primary-color: #f87070;
  --primary-font: "Kumbh Sans", sans-serif;
}

body {
  background: var(--primary-color);
  font-family: var(--primary-font);
  margin: 0;
}

.custom-dialog-container {
  width: 400px !important;
  height: 300px !important;
  overflow: hidden !important;
  border-radius: 20px !important;
}

.mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing .mat-mdc-dialog-surface {
  overflow: hidden !important;
}

.kumbh-sans-bold {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0px;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0px;
}

.roboto-slab-regular {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0px;
}
